POSTGRES_DB=fcmanager # Name of the PostreSQL database
POSTGRES_USER=admin # Username for the PostgreSQL database
POSTGRES_PASSWORD=password # Password for the PostgreSQL database
DATABASE_URL=jdbc:postgresql://database:5432/fcmanager # JDBC URL for the PostgreSQL database
JWT_SECRET_KEY=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970 # The secret key in base64 format used for signing JWT tokens
FRONTEND_URL=http://localhost:4200 # The URL where the frontend application is hosted
