.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
  
    h1 {
      font-size: 4rem;
      color: black;
      margin: 0;
    }
  
    p {
      font-size: 1.2rem;
      color: #555;
    }
  
    a {
      margin-top: 10px;
      color: #3498db;
      text-decoration: none;
      font-size: 1.1rem;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }