<div class="start-container">
  <div class="banner">
    <img src="{{logoUrl}}" alt="FC Manager">
    <h3>{{ applicationName }}</h3>
    <p>The ultimate platform for football fans and club managers alike!</p>
  </div>
  
  <div class="actions">
    <button (click)="navigateToLogin()" class="btn btn-primary">Log in</button>
    <button (click)="navigateToRegister()" class="btn btn-secondary">Sign up</button>
  </div>
  
  <div class="guest-actions">
    <button (click)="navigateToClubs()" class="btn btn-link">Browse other users clubs</button>
  </div>
</div>