@if (player) {
  <div class="player-details">
    <div class="name-and-flag">
      <h2>{{ player.name }}</h2>
      <span class="fi" [class]="'fi-'+ countryCode"></span>
    </div>

    <div class="player-body">
      <div class="photo-box">
        <img [src]="player.photoUrl || defaultPhotoUrl" alt="{{ player.name }}" class="player-photo">
      </div>
      
      <div class="content">
        <div class="detail-item">
          <mat-icon>cake</mat-icon>
          <span>Age:</span> {{ player.birthDate | calculateAge }} ({{player.birthDate | formatDate}})
        </div>
        <div class="detail-item">
          <mat-icon>format_list_numbered</mat-icon>
          <span>Positions:</span>
          @for (position of player.positions; track $index) {
            {{ position.charAt(0).toUpperCase() + position.slice(1) }}@if (!$last){, }
          }
        </div>
        <div class="detail-item">
          <mat-icon>looks_one</mat-icon>
          <span>Shirt number:</span> {{ player.shirtNumber }}
        </div>
        <div class="detail-item">
          <mat-icon>public</mat-icon>
          <span>Nationality:</span> {{ player.nationality }}
        </div>
        <div class="detail-item">
          <mat-icon>event_note</mat-icon>
          <span>Contract:</span> {{ player.contractUntil | contractLeft}}
        </div>
        <div class="detail-item">
          <mat-icon>payments</mat-icon>
          <span>Salary (per week):</span> {{player.salary | numberWithSpaces}} &euro;
        </div>
      </div>
    </div>

    @if (isUserLoggedIn && currentUserId === clubOwnerId) {
      <div class="action-buttons">
        <button mat-raised-button color="primary" (click)="editPlayer(player.playerId)"><mat-icon>edit</mat-icon>Edit</button>
        <button mat-raised-button color="warn" (click)="openDeletePlayerConfirmationDialog(player.playerId)"><mat-icon>delete</mat-icon>Delete</button>
      </div>
    }
  </div>
}