<h2 mat-dialog-title>Edit password</h2>
<mat-dialog-content [formGroup]="passwordForm">
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Current password</mat-label>
      <input matInput type="password" formControlName="oldPassword">
    </mat-form-field>
    @if (passwordForm.get('oldPassword')?.invalid && passwordForm.get('oldPassword')?.touched) {
      @if (passwordForm.get('oldPassword')?.errors?.['required']) {
        <div class="error-msg-form">Password is required.</div>
      }
    }
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>New password</mat-label>
      <input matInput type="password" formControlName="newPassword">
    </mat-form-field>
    @if (passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched) {
      @if (passwordForm.get('newPassword')?.errors?.['required']) {
        <div class="error-msg-form">New password is required.</div>
      }
      @if (passwordForm.get('newPassword')?.errors?.['minlength']) {
        <div class="error-msg-form">New password must have at least 8 characters.</div>
      }
      @if (passwordForm.get('password')?.errors?.['pattern']) {
        <div class="error-msg-form">New password must contain at least one lowercase letter, one uppercase letter, one digit, and one special character (!&#64;#$%^&*_).</div>
      }
    }
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Confirm new password</mat-label>
      <input matInput type="password" formControlName="confirmNewPassword">
    </mat-form-field>
    @if (passwordForm.hasError('mismatch') && passwordForm.get('confirmNewPassword')?.touched) {
      <div class="error-msg-form">Passwords must match!</div>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSaveClick()" [disabled]="passwordForm.invalid">Save</button>
</mat-dialog-actions>