<div class="player-list">
    @if (players.length > 0) {
        <h2>List of players</h2>
        <div>
            <mat-button-toggle-group [(ngModel)]="sortBy" (change)="sortPlayers()">
              <mat-button-toggle value="shirtNumber">Shirt Number</mat-button-toggle>
              <mat-button-toggle value="fullName">Full Name</mat-button-toggle>
              <mat-button-toggle value="contractUntil">Remaining Contract</mat-button-toggle>
            </mat-button-toggle-group>
          
            <mat-button-toggle-group [(ngModel)]="sortAscending" (change)="sortPlayers()">
              <mat-button-toggle [value]="true">Ascending</mat-button-toggle>
              <mat-button-toggle [value]="false">Descending</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        @for (player of players; track $index) {
            <div (click)="viewPlayerDetails(player.playerId)" (keydown)="viewPlayerDetails(player.playerId)" tabindex="0" class="player-item">
                <div class="photo-box">
                    <img [src]="player.photo || defaultPhotoUrl" alt="{{ player.name }}" class="player-photo">
                </div>
                <div class="content">
                    <div class="name-and-flag">
                        <span class="fi" [class]="'fi-'+ getCountryCode(player.nationality)"></span>
                        <h3>{{ player.name }}</h3>
                    </div>
                    <p>Position: {{ player.position }}</p>
                    <p>Age: {{ player.birthDate | calculateAge }}</p>
                    <p>Shirt number: {{ player.shirtNumber }}.</p>
                    <P>{{ player.contractUntil | contractLeft}}</P>
                </div>
            </div>    
        }
    }
    @else {
        <div>This club doesn't have any players...</div>
    }
    @if (isCurrentUserOwner && players.length < 30) {
        <button (click)="addPlayer()">Add new player</button>
    }
</div>