<div class="player-list">
    <h2>List of players</h2>
    @for (player of players; track $index) {
        <div (click)="viewPlayerDetails(player.playerId)" (keydown)="viewPlayerDetails(player.playerId)" tabindex="0" class="player-item">
            <div class="photo-box">
                <img [src]="player.photo || defaultPhotoUrl" alt="{{ player.name }}" class="player-photo">
            </div>
            <div class="content">
                <div class="name-and-flag">
                    <span class="fi" [class]="'fi-'+ player.nationality"></span>
                    <h3>{{ player.name }}</h3>
                </div>
                <p>Position: {{ player.position }}</p>
                <p>Age: {{ player.birthDate | calculateAge }}</p>
                <p>Shirt number: {{ player.shirtNumber }}.</p>
                <P>{{ player.contractUntil }}</P>
            </div>
        </div>    
    }
    <button (click)="addPlayer()">Add new player</button>
</div>