<button class="btn" (click)="goToHome()">Go back</button>

<div class="register-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput id="firstName" type="text" formControlName="firstName">
      </mat-form-field>
      @if (registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched) {
        @if (registerForm.get('firstName')?.errors?.['required']) {
          <div class="error-msg-form">First name is required.</div>
        }
        @if (registerForm.get('firstName')?.errors?.['minlength']) {
          <div class="error-msg-form">First name is too short.</div>
        }
        @if (registerForm.get('firstName')?.errors?.['maxlength']) {
          <div class="error-msg-form">First name is too long.</div>
        }
      }
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput id="lastName" type="text" formControlName="lastName">
      </mat-form-field>
      @if (registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched) {
        @if (registerForm.get('lastName')?.errors?.['required']) {
          <div class="error-msg-form">Last name is required.</div>
        }
        @if (registerForm.get('lastName')?.errors?.['minlength']) {
          <div class="error-msg-form">Last name is too short.</div>
        }
        @if (registerForm.get('lastName')?.errors?.['maxlength']) {
          <div class="error-msg-form">Last name is too long.</div>
        }
      }
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput id="email" type="email" formControlName="email">
      </mat-form-field>
      @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
        <div class="error-msg-form">Invalid email address.</div>
          
      }
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput id="password" type="password" formControlName="password">
      </mat-form-field>
      @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
        @if (registerForm.get('password')?.errors?.['required']) {
          <div class="error-msg-form">Password is required.</div>
        }
        @if (registerForm.get('password')?.errors?.['minlength']) {
          <div class="error-msg-form">Password is too short.</div>
        }
        @if (registerForm.get('password')?.errors?.['maxlength']) {
          <div class="error-msg-form">Password is too long.</div>
        }
      }
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input matInput id="confirmPassword" type="password" formControlName="confirmPassword">
      </mat-form-field>
      @if (registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched) {
        <div class="error-msg-form">Passwords must match!</div>
      }
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Sign up</button>
  </form>
  <p>Already have an account? Log in!</p>
  <button mat-raised-button (click)="goToLogin()">Log in</button>

  @if (registrationFailed) {
    <div class="error-message">{{registrationFailed}}</div>
  }
</div>