.achievements-container {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .achievements-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }

  .achievement-card {
    display: flex;
    gap: 10px;
    background: rgba(255, 255, 255, 0.15);
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    align-items: center;
  }

  .trophy-icon {
    color: gold;
    font-size: 2rem;
  }

  .achievement-details {
    flex-grow: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    max-width: calc(100% - 80px); /* Adjust based on icon and button width */

    p {
      margin: 0;
    }
  }

  .achievement-name {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .achievement-actions {
    display: flex;
    gap: 5px;
  }

  .achievements-paginator {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.0);
  }

  .no-achievements-message {
    text-align: center;
    font-style: italic;
    color: #ccc;
  }
}