.achievements-container {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  display: flex;
  flex-direction: column;

  h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .add-achievement-button {
    margin-left: auto;
  }

  .achievements-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .achievement-card {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.15);
    padding: 15px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    transition: transform 0.2s ease-in-out;
    position: relative;

    &:hover {
      transform: translateY(-5px);
    }
  }

  .achievement-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: -17px;
  }

  .trophy-icon {
    color: gold;
    font-size: 1.5rem;
  }

  .achievement-date {
    font-size: 0.9rem;
    color: #ccc;
  }

  .achievement-content {
    width: 100%;
  }

  .achievement-details {
    flex-grow: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    width: 100%;

    p {
      margin: 0;
    }
  }

  .achievement-name {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
    word-break: break-word;
  }

  .achievement-description {
    font-size: 1rem;
    color: #e0e0e0;
    line-height: 1.4;
    word-break: break-word;
  }

  .achievement-actions {
    display: flex;
    gap: 5px;
    margin-top: auto;
    width: 100%;
    justify-content: flex-end;
  }

  .achievements-paginator {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.0);
  }

  .no-achievements-message {
    text-align: center;
    font-style: italic;
    color: #ccc;
  }
}