<button class="btn logout-button" routerLink="/">Log out</button>

<div class="header-actions">
  <button mat-icon-button [matMenuTriggerFor]="settingsMenu" aria-label="Settings">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item (click)="openEditUserDialog()">
      <mat-icon>edit</mat-icon>
      <span>Edit user data</span>
    </button>
    <button mat-menu-item (click)="openEditPasswordDialog()">
      <mat-icon>vpn_key</mat-icon>
      <span>Edit password</span>
    </button>
  </mat-menu>
</div>
<div class="button-container">
  <h2>Hello {{currentUserName}}! Here are your clubs!</h2>
  @if (clubs.length > 0) {
    <div class="club-list">
      @for (club of clubs; track $index) {
        <div (click)="viewClubDetails(club.clubId)" (keydown)="viewClubDetails(club.clubId)" tabindex="0" class="club-item">
          <div class="club-info">
            <h3>{{ club.name }}</h3>
            <span class="fi" [class]="'fi-'+getCountryCode(club.address.country)"></span> 
          </div>
          <div class="club-badge-wrapper">
            <img [src]="club.badgeUrl || defaultBadgeUrl" [alt]="club.name + 'Badge'" class="club-badge"/>
          </div>
          <p class="club-founded">Founded: {{ club.foundedYear }}</p>
        </div>
      }
    </div>
  }
  @if (clubs.length < 4) {
    <button class="square-button" routerLink="/club/form">
      +
    </button>
  }
</div>