<div class="button-container">
    @if (clubs && clubs.length > 0) {
      <div>
        @for (club of clubs; track $index) {
          <div (click)="viewClubDetails(club.clubId)">
            <h3>{{ club.name }}</h3>
            <span class="fi" [class]="'fi-'+getCountryCode(club.address.country)"></span> 
            <p>Founded: {{ club.foundedYear }}</p>
            <img [src]="club.badge || defaultBadgeUrl" alt="Club Badge" />
          </div>
        }
      </div>
    }
    <button class="square-button" routerLink="/club/form">
      +
    </button>
    <a class="link-button" routerLink="/club">Browse other users clubs</a>
  </div>