<div>
  <h2>{{ editing ? 'Edit player form' : 'Add player form' }}</h2>
  <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
    <div class="">
      <label for="name">Full name</label>
      <input id="name" formControlName="name" />
      @if (playerForm.get('name')?.invalid && playerForm.get('name')?.touched) {
        @if (playerForm.get('name')?.errors?.['required']) {
          <small>Player full name is required.</small>
        }
        @if (playerForm.get('name')?.errors?.['minlength']) {
          <small>Player full name is too short.</small>
        }
        @if (playerForm.get('name')?.errors?.['maxlength']) {
          <small>Player full name is too long.</small>
        }
      }
    </div>

    <div class="">
      <label for="birthDate">Date of birth</label>
      <input id="birthDate" formControlName="birthDate" type="date" [min]="'1900-01-01'" [max]="todayDate()"/>
      @if (playerForm.get('birthDate')?.invalid && playerForm.get('birthDate')?.touched) {
        <div>
          <small>Incorrect date of birth.</small>
        </div>
      }
    </div>

    <div>
      <label for="nationality">Nationality</label>
      <mat-form-field appearance="fill">
        <mat-label>Select country</mat-label>
        <input 
          type="text" 
          matInput 
          formControlName="nationality" 
          [matAutocomplete]="auto" 
          placeholder="Enter country name">
        <mat-autocomplete #auto="matAutocomplete">
          @for (countryElem of filteredCountries | async; track $index) {
            <mat-option  
              [value]="countryElem.country">
              <span class="fi" [class]="'fi-' + countryElem.code"></span>
              {{ countryElem.country }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      @if (playerForm.get('nationality')?.invalid && playerForm.get('nationality')?.touched) {
        @if (playerForm.get('nationality')?.errors?.['required']) {
          <small>Nationality is required.</small>
        }
        @if (playerForm.get('nationality')?.errors?.['invalidCountry']) {
          <small>Please select a valid country.</small>
        }
      }
    </div>
    
    <div class="">
      <label for="position">Position</label>
      <select id="position" formControlName="position" class="">
        <option value="" disabled selected>Choose position</option>
        @for (option of positionOptions; track option) {
          <option [value]="option.value">
            {{ option.label }}
          </option>
        }
      </select>
      @if (playerForm.get('position')?.invalid && playerForm.get('position')?.touched) {
        <small>Position is required.</small>
      }
    </div>
    
    <div class="">
      <label for="shirtNumber">Shirt number</label>
      <input id="shirtNumber" formControlName="shirtNumber" type="number" />
      @if (playerForm.get('shirtNumber')?.invalid && playerForm.get('shirtNumber')?.touched) {
        @if (playerForm.get('shirtNumber')?.errors?.['required']) {
          <small>Shirt number is required.</small>
        }
        @if (playerForm.get('shirtNumber')?.errors?.['min']) {
          <small>Shirt number must be positive number.</small>
        }
        @if (playerForm.get('shirtNumber')?.errors?.['max']) {
          <small>Shirt number can't be higher than 99.</small>
        }
      }
    </div>

    <div class="">
      <label for="contractUntil">Contract expiration date</label>
      <input id="contractUntil" formControlName="contractUntil" type="date" [min]="todayDate()"/>
      @if (playerForm.get('contractUntil')?.invalid && playerForm.get('contractUntil')?.touched) {
        <small>Contract expiration date is incorrect.</small>
      }
    </div>

    <div class="">
      <label for="salary">Weekly salary</label>
      <input id="salary" formControlName="salary" type="number" />
      @if (playerForm.get('salary')?.invalid && playerForm.get('salary')?.touched) {
        @if (playerForm.get('salary')?.errors?.['required']) {
          <small>Weekly salary is required.</small>
        }
        @if (playerForm.get('salary')?.errors?.['min']) {
          <small>Weekly salary must be positive number.</small>
        }
        @if (playerForm.get('salary')?.errors?.['max']) {
          <small>Weekly salary is too big.</small>
        } 
      }
    </div>

    <div class="photo-loader">
      <label for="photo">Player photo</label>
      <input
        type="file"
        id="photo"
        (change)="onPhotoSelected($event)"
        accept="image/*"
      />
      @if (photoPreviewUrl || (player?.photo && !photoRemoved)) {
        <div>
          <p>Selected photo:</p>
          <img [src]="photoPreviewUrl || player?.photo" alt="Selected badge" style="max-width: 200px;" />
          <button type="button" (click)="removePhoto()">Remove player photo</button>
        </div>
      }
    </div>

    <button type="submit" class="" [disabled]="playerForm.invalid">
      {{ editing ? 'Update Player' : 'Add Player' }}
    </button>
  </form>
</div>